{% extends 'base.html.twig' %}

{% block title %}Edit Mushroom{% endblock %}

{% block body %}
    <h1>Edit Mushroom</h1>

    {{ include('mushroom/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_mushroom_index') }}">back to list</a>

    {{ include('mushroom/_delete_form.html.twig') }}
{% endblock %}
