{% extends 'base.html.twig' %}

{% block title %}Edit Finding{% endblock %}

{% block body %}
    <h1>Edit Finding</h1>

    {{ include('finding/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_finding_index') }}">back to list</a>

    {{ include('finding/_delete_form.html.twig') }}
{% endblock %}
