{% extends 'base.html.twig' %}

{% block body %}
    <div {{ stimulus_controller('modal-form', {
        formUrl: path('app_finding_new')
    }) }}>
        <div {{ stimulus_controller('map', {
            findings: findings|serialize(format = 'json')
        }) }} data-action="map:addMushroom->modal-form#openModal">
            <div id="map"></div>
        </div>
        <button class="btn btn-primary btn-sm" {{ stimulus_action('modal-form', 'openModal') }}>Trouvé</button>
        {{ include('_modal.html.twig', {modalTitle: "Ajouter une trouvaille"}) }}
    </div>
{% endblock %}
