{% extends 'base.html.twig' %}

{% block title %}New Landmark{% endblock %}

{% block body %}
    <h1>Create new Landmark</h1>

    {{ include('landmark/_form.html.twig') }}

    <a href="{{ path('app_landmark_index') }}">back to list</a>
{% endblock %}
