<table class="table">
    <tbody>
    <tr>
        <th>Id</th>
        <td>{{ landmark.id }}</td>
    </tr>
    <tr>
        <th>Type</th>
        <td>{{ landmark.type }}</td>
    </tr>
    </tbody>
</table>
