<table class="table">
    <tbody>
    <tr>
        <th>Id</th>
        <td>{{ landmark.id }}</td>
    </tr>
    <tr>
        <th>Quantity</th>
        <td>{{ landmark.quantity }}</td>
    </tr>
    <tr>
        <th>Datetime</th>
        <td>{{ landmark.datetime ? landmark.datetime|date('Y-m-d H:i:s') : '' }}</td>
    </tr>
    </tbody>
</table>
